.page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 5rem;

  hr {
    margin: 3vh;
  }
  .cardOrdEmpty {
    width: 60vw;
    height: 35vh;
    background-color: gray;
    border-radius: 2rem;
  }
}
