body {
  background-image: linear-gradient(to bottom, black, var(--main-bg));
}

.header {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: space-between;
}

.header .img {
  width: 250px;
}

.heroText {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.actionCards {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 50px;
  max-width: calc(100vw - 20px);
}
