.page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
}

.peopleForFightTag {
    height: 10vh;
    width: 100vw;
    background-color: #02383d;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
        text-align: center;
        font-size:x-large;
    }
}

.avlPplContainer {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: fit-content;
}

.personInList {
    display: flex;
    margin: 10px;
    align-items: center;


    img {
        width: 50px;
        border-radius: 10%;
    }

    p {
        text-align: center;
        width: 30%;
        font-size: larger;
    }
}

.buttonsDiv {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    margin-bottom: 30px;
    position: absolute;
    bottom: 0;

    button {
        margin: 5%;
        width: 30%;
        height: 20%;
        border-radius: 10px;
        color: #f38c79;
        background-color:#007074;
        border-color: #f38c79;
    }
}