:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --main-bg: #034c53;
  --second-bg: #007074;
  --main-text: #f38c79;
  --second-text: #ffc1b4;
}

body {
  color: var(--main-text);
  background-color: var(--main-bg);
}
